
.navbar {
 background-color: #C27056;
}

.navbar-nav .active > .nav-link {
  color: #FFFFFF !important;
  text-transform: uppercase;
}

.navbar-header > .navbar-brand {
  color: #FFFFFF;
}

.jumbotron-fluid {
  background-image: url('images/trippin.jpg');
  background-size: cover;
  padding: 110px;
}

h1 {
  color: #fff;
  font-size: 120px;
  font-family: arial;
  text-align: center;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  font-family: arial;
  margin-bottom: 30px;
}

h3 {
  color: #fff;
  font-size: 25px;
  font-family: arial;
  text-align: center;
}
