
.navbar {
 background-color: #C27056;
}

.navbar .navbar-nav  {
  color: #fff;
}

 .nav-link {
  color: #fff;
}

.jumbotron-fluid {
  background-image: url('images/trippin.jpg');
  background-size: cover;
  padding: 110px;
}

h1 {
  color: #fff;
  font-size: 120px;
  font-family: arial;
  text-align: center;
}

h2 {
  text-align: center;
  font-family: arial;
}

.row {
  margin: 0 auto;
}
