<header>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1><em>About ToM</em></h1>
      <h3><em>Opening minds through travel!</em></h3>
    </div>
  </div>
</header>

<section id="mission">
  <div class="container">
    <header>
      <h2>Our Mission</h2>
    </header>

    <article >
      <div id="statement" class="row">
        <p class="col-12">
          When I was a kid I received a globe for my birthday. At the time, I didn't
          think of much of this gift, but as I got older, I started pointed to countries
          on the globe and imagining I was there. Being financially unable to turn my
          dreams into reality, dreams to travel to those countries remained just that, dreams.
          <br>
          <br>
          Our dream is to enable kids with dreams of traveling the financial support and mentorship they need to bring those dreams to life. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          <br>
          <br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>

    </article>
  </div>
</section>
