{{#bs-navbar type=type backgroundColor=bg collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand"}}TOM{{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}{{#nav.link-to "home"}}About{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "home"}}Spots{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "home"}}Chip In{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "home"}}Contact Us{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "home"}}Sign Up{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "home"}}Log In{{/nav.link-to}}{{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}


  {{outlet}}
